body{
  color: #171d1d;
}

.landing{
  height: 100vh;
  background: url(img/landing.jpg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
}

.navbar{
  background: linear-gradient(to bottom, #9ab7bf, #9ab7bf9e, #bfc4c800);
  color: #f8f8fa;
}

      @media only screen and (max-width: 991px) {
          .navbar {
              border-bottom:none;
          }

          .navbar-brand{
            display: none;
          }
      }

a{
  font-size: 1.25em;
  font-weight:500;
  color: #f8f8fa;
  margin-left: 60px;
}

a:hover{
  color: #2a1d24;
  text-shadow: 1px 1px 5px #f8f8fa;
}

#landing-content{
  text-align: center;
  margin-left: auto;
  padding-top: 15%;
}

.text{
  border: 5px solid #d4dde2;
  border-radius: 15px;
  padding: 20px;
  background: #121b1d63;
}

.display-4{
  color: #eef7fb;
  font-weight: 500;
  font-size: 4em;
  text-shadow: 1px 1px 6px #2f252e;
}

hr{
  width: 75%;
  border-radius: 35px;
  border-top: 5px solid transparent;
  border-image: linear-gradient(to right, #4f697600, #44637100, #d4dde2, #42627100, #375f7000);
  border-image-slice: 1;
}

.lead{
  font-weight: 500;
  font-size: 2em;
  text-shadow: 1px 1px 6px #31272f;
  color: #9ea9af;
}

#about-content{
  text-align: center;
  margin-left: auto;
  padding-top: 3.5%;
}

#about{
  height: 100vh;
  background: #ddeaee;
  border-top: 5px solid #adc8cf;
}

#projects{
  height: 100vh;
  text-align: center;
  margin-left: auto;
  padding-top: 3.5%;
  }

.card{
  padding-bottom: 2%;
  border: none;
  }

#contact{
    height: 100vh;
    background: #ddeaee;
    border-top: 5px solid #adc8cf;
}
