html{
  height: 100%;
}

body{
  background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-19059.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.navbar{
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #f2f1ef00, #f2f1ef00, #f2f1ef00, #212529);
  border-image-slice: 1;
}

@media only screen and (max-width: 991px) {
    .navbar {
        border-bottom:none;
    }
}

a{
  font-size: 1.5em;
  font-weight:600;
  color: #282632;
  margin-left: 60px;
}

a:hover{
  color:#ebeaef;
  text-shadow: 3px 3px 3px #565364;
}


#content{
  text-align: center;
  margin-left: auto;
  padding-top: 45%;
}

.display-3{
  font-weight: 600;
  font-size: 4em;
  text-shadow: 0px 0px 2px black;
  color: #cdccd1;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.lead{
  font-weight: 600;
  font-size: 1.5em;
  text-shadow: 1px 1px 6px #82808d;
  color: #25242b;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

hr{
  width: 45%;
  border-radius: 35px;
  border-top: 5px solid transparent;
  border-image: linear-gradient(to right, #ebeaef, #7b7987, #000000, #7b7987, #ebeaef);
  border-image-slice: 1;
}
