html{
  height: 100%;
}

body{
  background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.navbar{
  background: #ded6cb;
  border-bottom: 2px solid #7b7b7b;
}

.fa{
  font-size: 14px;
}

.fa-bars{
  color: #7b7b7b;
}

a{
  font-weight:500;
  color: #7b7b7b;
}

a:hover{
  color:#e4e4e4;
  background: #a7a3a3;
  background-size: cover;
  border-radius: 3px;
}


#content{
  text-align: center;
  margin-left: auto;
  padding-top: 25%;
}

.display-3{
  font-weight: 600;
  font-size: 4em;
  text-shadow: 3px 3px 6px black;
  color: white;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.lead{
  font-weight: 600;
  font-size: 1.5em;
  text-shadow: 3px 3px 3px black;
  color: white;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.btn-light{
  margin-left: auto;
}

hr{
  border-top: 5px solid white;
  width: 45%;
  border-radius:5px;
}
